   {{ partial "footer_nav.html" . }}

   <script src="{{ .Site.BaseURL }}js/jquery-3.4.1.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/show-losung.js"></script>
   <script src="{{ .Site.BaseURL }}js/jquery.justifiedGallery.min.js"></script>
   <script src="{{ .Site.BaseURL }}js/jquery.colorbox-min.js"></script>
</body>
</html>
