<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<base href="{{ .Site.BaseURL }}">
<title>{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Site.Title }} | {{ .Title }} {{ end }}</title>
<meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Description}}{{end}}" />
{{ if .Site.Params.keywords }}<meta name="keywords" content="{{ .Site.Params.keywords }}" />{{ end }}
{{ if .Site.Params.author }}<meta name="author" content="{{ .Site.Params.author }}">{{ end }}

<meta charset="utf-8">

<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; object-src 'self'; frame-ancestors 'none'; form-action 'none'; base-uri 'self'">
<meta name="referrer" content="no-referrer">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/fork-awesome.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/justifiedGallery.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/colorbox.css">

<link rel="canonical" href="{{ .Permalink }}">
<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
