
{{ $baseURL := .Site.BaseURL }}
<!-- colorbox -->
<div id="mygallery" class="justified-gallery">
   {{- with (.Get "dir") -}}
      <!-- If a directory was specified, generate figures for all of the images in the directory -->
      {{- $files := readDir (print "/static/" .) }}
      {{- range $files -}}
         <!-- skip files that aren't images, or that inlcude the thumb suffix in their name -->
         {{- $thumbext := $.Get "thumb" | default "-thumb" }}
         {{- $isthumb := .Name | findRE ($thumbext | printf "%s\\.") }}<!-- is the current file a thumbnail image? -->
         {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}<!-- is the current file an image? -->
         {{- if and $isimg (not $isthumb) }}
            {{- $caption :=  .Name | replaceRE "\\..*" "" | humanize }}<!-- humanized filename without extension -->
            {{- $linkURL := print $baseURL ($.Get "dir") "/" .Name | absURL }}<!-- absolute URL to hi-res image -->
            {{- $thumb := .Name | replaceRE "(\\.)" ($thumbext | printf "%s.") }}<!-- filename of thumbnail image -->
            {{- $thumbexists := where $files "Name" $thumb }}<!-- does a thumbnail image exist? -->
            {{- $thumbURL := print $baseURL ($.Get "dir") "/" $thumb | absURL }}<!-- absolute URL to thumbnail image -->
            <a href="{{ $linkURL }}" itemprop="contentUrl" title="{{ $caption }}" class="jg-entry entry-visible cboxElement" rel="gallery1">
              <img alt="{{ $caption }}" src="{{ if $thumbexists }}{{ $thumbURL }}{{ else }}{{ $linkURL }}{{ end }}"/>
            </a>
         {{- end }}
      {{- end }}
   {{- else -}}
      <!-- Error -> no directory -->
     <p>No directory for images specified.</p>
   {{- end }}
</div>

<script>
   function makeGallery() {
      $("#mygallery").justifiedGallery({
         lastRow : 'nojustify',
         rowHeight : 162,
         rel : 'gallery1',
         margins : 10
      }).on('jg.complete', function () {
         $(this).find('a').colorbox({
            maxWidth : '85%',
            maxHeight : '85%',
            opacity : 0.8,
            transition : 'elastic',
            current : ''
         });
      });
   }

   if(window.attachEvent) {
      window.attachEvent('onload', makeGallery);
   } else {
      if(window.onload) {
         var curronload = window.onload;
         var newonload = function(evt) {
            curronload(evt);
            makeGallery(evt);
         };
         window.onload = newonload;
      } else {
         window.onload = makeGallery;
      }
   }
</script>
